* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: nunito, sans-serif;
    padding-bottom: 100px;
}

.header-container {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);  
}

.header-content {
    max-width: 1300px;
    padding-inline: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
}
.header-content > h1 {
    font-size: 36px;
    font-weight: 800;
}
.main {
    padding-inline: 24px;
    max-width: 1300px;
    margin-inline: auto;
    margin-top: 56px;
}
.back-btn {
    box-shadow: 0.5px 0.5px 5px 0 rgba(0, 0, 0, 0.4);
    color: inherit;
    padding: 10px 24px;
    border-radius: 5px;
    text-decoration-line: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
}
.back-btn:hover {
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.7);
    transform: scale(1.06);
}
.country-details-container {
    display: flex;
    gap: 160px;
    margin-top: 56px;
}
.side-text-container {
    display: flex;
    gap: 110px;
}
.country-details-container img {
    max-width: 580px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    min-height: 350px;
}
.all-text-container > h2 {
    margin-block: 16px;
    font-size: 36px;
    font-weight: 800;
}
.paragraph-text > p {
    margin-block: 6px;
}

.border-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
}

.border-btn {
    padding: 5px 16px;
    color: inherit;
    text-decoration-line: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out;
}
.border-btn:hover {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.9);
    transform: scale(1.06);
}

@media(max-width:1200px) {
    .country-details-container img {
        max-width: 440px;
    }
    .border-container {
        margin-top: 16px;
    }
    .country-details-container {
        gap: 56px;
    }
    .side-text-container {
        gap: 96px;
    }
}

@media (max-width: 1024px) {

    .header-content > h1 {
        font-size: 16px;
    }
.country-details-container {
    flex-direction: column;
    gap: 64px;
}
.country-details-container img {
    width: 1024px;
    max-width: 100%;
    object-fit: contain;
    min-height: auto;
}
}

@media (max-width: 640px) {
    .side-text-container {
    flex-direction: column;
    gap: 36px;
}
}