* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: nunito, sans-serif;
}

.header-container {
    background-color: #fff;
    padding-inline: 24px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);  
}

.header-content {
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
}

.country-details-container {
    width: 1300px;
    margin-inline: auto;
     margin-top: 56px;
    display: flex;
    gap: 160px;
}
.country-details-container img {
    max-width: 530px;
}
.all-text-container > h2 {
    margin-block: 16px;
    font-size: 36px;
    font-weight: 800;
}
.side-text-container {
    display: flex;
    gap: 130px;
}
.paragraph-text > p {
    margin-block: 6px;
}
.border-container {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-top: 36px;
}
.all-btn {
    display: flex;
    gap: 16px;
}

.btn {
    padding: 5px 16px;
    cursor: pointer;
}