* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: nunito, sans-serif;
}

.header-container {
    background-color: #fff;
    padding-inline: 24px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);  
}

.header-content {
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
}

.card-container {
    max-width: 1300px;
    margin-inline: auto;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 64px;
}
.country-card {
    width: 250px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding-bottom: 24px;
    transition: all 0.4s ease-in-out;
}
.country-card:hover {
    transform: scale(1.05);
}
.country-card > img {
    width: 100%;
}
.card-container > a {
    text-decoration-line: none;
    color: black;
}
.card-container-text {
    padding-inline: 16px;
}
.card-container-text > p {
    margin-block: 8px;
}
.text-title {
    margin-block: 12px;
}

