* {
    box-sizing: border-box;
}

body {
    --background-color: white;
    --text-color: black;
    --elements-color: white;
    margin: 0;  
    font-family: nunito, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
body.dark {
    --background-color: hsl(207, 26%, 17%);
    --text-color: white;
    --elements-color: hsl(209, 23%, 22%);
 }
.dark-mode.fa-moon {
    display: hidden;
}
.header-container {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);  
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--elements-color);
}

.header-content {
    max-width: 1300px;
    padding-inline: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    z-index: 1;
}
.header-content a {
    text-decoration-line: none;
    color: inherit;
    cursor: pointer;
}
.header-content p {
    cursor: pointer;
}
main {
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 16px;
}

.search-filter-container {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}
.search-container {
    max-width: 420px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0px 0px 0px 16px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    background-color: var(--elements-color);
    color: var(--text-color);
}

.search-container input {
    padding: 10px 0px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    background-color: inherit;
    color: inherit;
}
.search-container input::placeholder {
    color: #999;
}
.search-container i {
    color: #999;
}

.filter-region {
    width: 260px;
    border: none;
    outline: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    padding: 16px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--elements-color);
    color: var(--text-color);
}

.card-container {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px;
}
.country-card {
    max-width: 270px;
    border-radius: 16px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding-bottom: 24px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    background-color: var(--elements-color);
}
.country-card:hover {
    transform: scale(1.05);
}
.country-card > img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.card-container > a {
    text-decoration-line: none;
    color: black;
}
.card-container-text {
    padding-inline: 16px;
    color: var(--text-color);
}
.card-container-text > p {
    margin-block: 8px;
}
.text-title {
    margin-block: 12px;
    font-size: 18px;
    font-weight: 900;
}


@media (max-width: 985px) {
    .card-container {
    justify-content: center;
    gap: 110px;
}

.header-content > h1 {
    font-size: 18px;
}

}

@media (max-width: 685px) {
    .search-filter-container {
        flex-direction: column;
        align-items: center;
        gap: 36px;
    }
}

